<div id="page-wrapper">
  <p class="titulo">Compras <span ng-click="form = !form" class="glyphicon glyphicon-plus-sign"></span></p>
  <table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Data da Compra</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in compras">
      <th scope="row">{{obj.descricao}}</td>
      <td>{{obj.dataCompra}}</td>
      <td>{{obj.valor}}</td>
    </tr>
  </tbody>
</table>

  <form ng-hide="form" name="myform" novalidate>

  <p class="titulo">Compra de Peça</p>
  <div ng-repeat="(index, pecaCompra) in compra.pecaCompra">
    <p>{{pecaCompra.peca.nome}}, Quantidade: {{pecaCompra.quantidade}} <span ng-click="removerPecas(pecaCompra, index)" class="glyphicon glyphicon-trash"></span></p>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Descrição</label>
    <div class="col-10">
      <input class="form-control" type="text" ng-model="compra.descricao" ng-class="{'required' : compra.descricao == undefined && click == true}" ng-required="true">
    </div>
  </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Peças</label>
      <div class="col-10">
        <select class="form-control" ng-model="pecaCompra.peca" ng-options="peca as peca.nome for peca in pecas" ng-class="{'required' : compra.pecaCompra.length == 0 && click == true}">
        <option value="{{pecaCompra.peca}}">{{peca.nome}}</option>
      </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Quantidade de Peças</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="pecaCompra.quantidade" ng-class="{'required' : compra.pecaCompra.length == 0 && click == true}">
      </div>
    </div>

    <button class="btn btn-default" ng-click="click = true; adicionarPeca()">Adicionar peça</button>

  <div class="button-bar">
    <button class="btn btn-default" ng-click="click = true; salvar()">Finalizar Compra</button>
    <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
  </div>
</form>
