<div id="page-wrapper">
  <p class="titulo">Compras <span ng-click="form = !form" class="glyphicon glyphicon-plus-sign"></span></p>
  <table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Data da Compra</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in compras">
      <th scope="row">{{obj.descricao}}</td>
      <td>{{obj.dataCompra}}</td>
      <td>{{obj.valor}}</td>
      <td>
          <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="verDetalhes(obj)">Ver Detalhes</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Detalhes da Compra</h4>
            </div>
            <div class="modal-body">
              <div>{{detalhes.descricao}}.</div>
              <div>Compra feita pelo usuario {{detalhes.usuario.login}}.</div>
              <br>
              <table class="table">
              <thead>
                <tr>
                  <th>Peça</th>
                  <th>Valor</th>
                  <th>Quantidade Comprada</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="obj in detalhes.pecaCompra">
                  <th scope="row">{{obj.peca.nome}}</td>
                  <td>{{obj.peca.valor}}</td>
                  <td>{{obj.quantidade}}</td>
                  <td>{{obj.peca.valor * obj.quantidade}}</td>
                </tr>
              </tbody>
            </table>
              <p class="titulo">Valor total da compra: {{detalhes.valor}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

  <form ng-hide="form" name="myform" novalidate>

  <p class="titulo">Compra de Peça</p>
  <div ng-repeat="(index, pecaCompra) in compra.pecaCompra">
    <p>{{pecaCompra.peca.nome}}, Quantidade: {{pecaCompra.quantidade}} <span ng-click="removerPecas(pecaCompra, index)" class="glyphicon glyphicon-trash"></span></p>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Descrição</label>
    <div class="col-10">
      <input class="form-control" type="text" ng-model="compra.descricao" ng-class="{'required' : compra.descricao == undefined && click == true}" ng-required="true">
    </div>
  </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Peças</label>
      <div class="col-10">
        <select class="form-control" ng-model="pecaCompra.peca" ng-options="peca as peca.nome for peca in pecas" ng-class="{'required' : compra.pecaCompra.length == 0 && click == true}">
        <option value="{{pecaCompra.peca}}">{{peca.nome}}</option>
      </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Quantidade de Peças</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="pecaCompra.quantidade" ng-class="{'required' : compra.pecaCompra.length == 0 && click == true}">
      </div>
    </div>

    <button class="btn btn-default" ng-click="click = true; adicionarPeca()">Adicionar peça</button>

  <div class="button-bar">
    <button class="btn btn-default" ng-click="click = true; salvar()">Finalizar Compra</button>
    <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
  </div>
</form>
