<div id="page-wrapper">
  <p class="titulo">CRUD Cliente <span ng-click="form = false" class="glyphicon glyphicon-plus-sign"></span></p>
  <table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Usuário</th>
      <th>Empresa</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in clientes">
      <th scope="row">{{obj.nome}}</th>
      <td>{{obj.cpf}}</td>
      <td>{{obj.usuario.login}}</td>
      <td>{{obj.empresa.nomeFantasia}}</td>
      <td>
        <div class="button-bar">
          <button class="btn btn-default" ng-click="alterar(obj)"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-default" ng-click="excluir(obj.id)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

  <div ng-hide="form">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nome</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="cliente.nome">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">CPF</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="cliente.cpf" ui-br-cpf-mask>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Usuario</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="cliente.usuario.login">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Senha</label>
      <div class="col-10">
        <input class="form-control" type="password" ng-model="cliente.usuario.senha">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Empresa</label>
      <div class="col-10">
        <select class="form-control" ng-model="cliente.empresa.id" ng-options="empresa.id as empresa.nomeFantasia for empresa in empresas">
        <option value="{{cliente.empresa}}">{{empresa.nomeFantasia}}</option>
      </select>
      </div>
    </div>
      <div class="button-bar">
        <button class="btn btn-default" ng-click="salvar()">Salvar</button>
        <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
      </div>
  </div>
</div>
