<div id="page-wrapper">
  <p class="titulo">CRUD Tarefa</p>

  <form name="myform" novalidate>
    <div class="form-group row">
      <label class="col-2 col-form-label">Titulo</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="tarefa.titulo" ng-class="{'required' : tarefa.titulo == undefined && click == true}" ng-required="true">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Descrição</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="tarefa.descricao" ng-class="{'required' : tarefa.descricao == undefined && click == true}" ng-required="true">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Prioridade(Sendo 1 importante e 5 super urgente)</label>
      <div class="col-10">
        <select class="form-control" ng-model="tarefa.prioridade" ng-options="prioridade as prioridade for prioridade in prioridades" ng-class="{'required' : tarefa.prioridade == undefined && click == true}" ng-required="true">
          <option value="{{tarefa.prioridade}}">{{prioridade}}</option>
      </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Custo</label>
      <div class="col-10">
        <input class="form-control" type="text" ng-model="tarefa.custo" ui-money-mask ng-class="{'required' : tarefa.custo == undefined && click == true}" ng-required="true">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Responsavel</label>
      <select class="form-control" ng-model="tarefa.responsavel.id" ng-options="colaborador.usuario.id as colaborador.nome for colaborador in colaboradores">
        <option value="{{colaborador.usuario}}">{{colaborador.nome}}</option>
      </select>
    </div>

<div ng-hide="tarefa.id != undefined && tarefa.id != null">
      <p class="titulo">Item Tarefa</p>
      <div ng-repeat="(index, itemTarefa) in tarefa.itemTarefa">
        <p>{{itemTarefa.item.nome}}, Quantidade: {{itemTarefa.quantidade}} <span ng-click="removerItem(itemTarefa, index)" class="glyphicon glyphicon-trash"></span></p>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Item</label>
        <div class="col-10">
          <select class="form-control" ng-model="itemTarefa.item" ng-options="item as item.nome for item in itens" ng-class="{'required' : itemTarefa.item == undefined && clickItem == true}">
          <option value="{{itemTarefa.item}}">{{item.nome}}</option>
        </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Garantia</label>
        <div class="col-10">
          <select class="form-control" ng-model="itemTarefa.garantia" ng-class="{'required' : itemTarefa.garantia == undefined && clickItem == true}">
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Quantidade de Itens. (Quantidade disponível: {{itemTarefa.item.estoque}})</label>
        <div class="col-10">
          <input class="form-control" type="text" ng-model="itemTarefa.quantidade" ng-class="{'required' : itemTarefa.quantidade == undefined && clickItem == true}" ui-number-mask="0" ui-hide-group-sep>
        </div>
      </div>

      <button class="btn btn-default" ng-click="clickItem = true; adicionarItem()">Adicionar item</button>
</div>
      <div class="button-bar">
        <button class="btn btn-default" ng-click="click = true; salvar()">Salvar</button>
        <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
      </div>
  </form>
</div>
