<div id="page-wrapper">
  <div>
    <div class="row">
        <div class="col-lg-12">
          <span class="glyphicon glyphicon glyphicon-arrow-left" ng-click="voltar()" style="font-size: 30px;"></span>
            <h1 class="page-header">Serviço</h1>
        </div>
    </div>
            <div class="panel panel-white" style="border: 1px solid #333 !important;">
                <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-9 text-left">
                          <div>Titulo: {{servico.titulo}}</div>
                          <div>Descricao: {{servico.descricao}}</div>
                      </div>
                      <div class="col-xs-9 text-center">
                          <div>Prioridade: {{servico.prioridade}}</div>
                          <div>Status: {{servico.status}}</div>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div>Data Inicio: {{servico.dataInicio}}</div>
                          <div ng-show="servico.dataTermino != undefined && servico.dataTermino != null">Data Finalização: {{servico.dataTermino}}</div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tarefas referente ao Serviço</h1>
                </div>
            </div>
            <div class="panel" ng-class="{'panel-primary' : tarefa.status == 'ABERTO', 'panel-yellow' : tarefa.status == 'EM_PROGRESSO', 'panel-green' : tarefa.status == 'FINALIZADO'}" ng-repeat="tarefa in tarefas">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9 text-left">
                          <div style="float: right;"><button class="btn btn-default" ng-hide="tarefa.status == 'FINALIZADO'" ng-click="alterar(tarefa)"><span class="glyphicon glyphicon-pencil"></span></button></div>
                            <div>Titulo: {{tarefa.titulo}}</div>
                            <div>Descricao: {{tarefa.descricao}}</div>
                        </div>
                        <div class="col-xs-9 text-center">
                            <div>Prioridade: {{tarefa.prioridade}}</div>
                            <div>Status: {{tarefa.status}}</div>
                            <div>Custo: {{tarefa.custo}}</div>
                        </div>
                        <div class="col-xs-9 text-center">
                          <div>
                            <select class="form-control" ng-model="tarefa.responsavel.id" ng-options="colaborador.id as colaborador.nome for colaborador in colaboradores" ng-change="editar(tarefa)" ng-disabled="servico.status == 'FINALIZADO'">
                              <option value="{{colaborador.id}}">{{colaborador.nome}}</option>
                            </select>
                          </div>
                          <div>
                            <select class="form-control" ng-model="tarefa.status" ng-change="editar(tarefa)" ng-disabled="servico.status == 'FINALIZADO'">
                              <option value="ABERTO">ABERTO</option>
                              <option value="EM_PROGRESSO">EM PROGRESSO</option>
                              <option value="FINALIZADO">FINALIZADO</option>
                            </select>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
</div>
<!-- /#page-wrapper -->
