<div id="page-wrapper">
  <div ng-hide="templateListas">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Selecione uma Tarefa</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{tarefasAbertas.length}}</div>
                            <div>Em Aberto</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer" ng-click="verDetalhes('abertas')">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{tarefasProgresso.length}}</div>
                            <div>Em progresso</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer" ng-click="verDetalhes('progresso')">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{tarefasFinalizadas.length}}</div>
                            <div>Concluídas</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer" ng-click="verDetalhes('finalizadas')">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<div ng-hide="listaDeServicos">
  <span class="glyphicon glyphicon glyphicon-arrow-left" ng-click="verListas()" style="font-size: 30px;"></span>
    <p class="titulo">{{filtro}}</p>
  <table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Prioridade</th>
      <th>Data de Criação</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in listaTarefas">
      <th scope="row">{{obj.titulo}}</th>
      <td>{{obj.prioridade}}</td>
      <td>{{obj.dataInicio}}</td>
      <td>
        <div class="button-bar">
          <button class="btn btn-default" ng-click="alterar(obj)" ng-hide="usuarioLogado.id != obj.usuario.id && usuarioLogado.nivelAcesso != 'ADMIN'"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-default" ng-click="excluir(obj.id)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>

</div>
<!-- /#page-wrapper -->
